$base-font-color: #a6523f;
$link-color: #63a839;

body {
  background-color: #fff;
  color: $base-font-color;
  min-width: 400px;
  margin: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1, h2 {
  font-size: 20px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

li {
  list-style: none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: darken($link-color, 20%);
  }

  &:hover {
    color: darken($link-color, 20%);
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

#blog-data {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;

  p {
    font-size: 14px;
  }

  p:last-child {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
  font-weight: bold;
}

input[type="submit"] {
  padding: 5px;
  border-radius: 5px;
  background-color: lightgray;
  box-shadow: 0;
}

input[type="text"] {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
}

textarea {
  width: 90%;
  height: 60px;
  padding: 5px;
  border-radius: 5px;
}

footer {
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
