#blog-list {
  margin-bottom: 50px;

   h1 {
     padding: 5px 0 10px;
     margin: 0;
     border-bottom: 1px solid lightgray;
   }

   ul#list-header {
     padding: 0;
     margin: 0;

     li {
       padding: 5px;
       width: 50%;
       font-weight: bold;
     }
   }

   ul#list-body {
     padding: 0;
     margin: 0;

     li.line {
       display: flex;
       padding: 5px 0;
       border-top: 1px solid lightgray;

       ul.blog-data, ul.actions {
         padding: 0;
         margin: 0;
       }

       ul.blog-data {
         width: 50%;

         li {
           padding: 0 5px;
         }
       }

       ul.actions {
         display: flex;
         width: 50%;

         li {
           width: 20%;
           text-align: center;
         }
       }
     }
   }
}

#entry-list {
  margin-bottom: 50px;

  h1 {
    padding: 5px 0 10px;
    margin: 0;
    border-bottom: 1px solid lightgray;
  }

  ul#list-header {
    display: flex;
    width: 60%;
    padding: 0;
    margin: 0;

    li {
      padding: 5px;
      width: 50%;
      font-weight: bold;
    }
  }

  ul#list-body {
    padding: 0;
    margin: 0;

    li.line {
      display: flex;
      padding: 5px 0;
      border-top: 1px solid lightgray;

      ul.entry-data, ul.actions {
        padding: 0;
        margin: 0;
      }

      ul.entry-data {
        display: flex;
        width: 60%;

        li {
          width: 50%;
          padding: 0 5px;
        }
      }

      ul.actions {
        display: flex;
        width: 40%;

        li {
          width: 33%;
          text-align: center;
        }
      }
    }
  }
}
